<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>Display Featured Products</name>
            <label lang="en">Display Featured Products</label>
            <value>false</value>
            <description lang="en">Displaying featured products on detail page</description>
        </element>
        <element type="number">
            <name>Number of Products</name>
            <label lang="en">Number of Products</label>
            <value>3</value>
            <description lang="en">Number of featured products on detail page</description>
        </element>
    </elements>

</config>